# Environnements virtuels
.env/
.venv/
venv/

# Fichiers compilés
__pycache__/
*.py[cod]

# Fichiers de configuration
*.env
*.sqlite3
*.db

# Dossiers de données
data/
dataset/

# OS / éditeurs
.DS_Store
Thumbs.db
.vscode/
